# Autotools
/autom4te.cache/
/config/
/config.log
/config.status
/configure
Makefile
Makefile.in
/systemd/flux-rest-server@.service
/systemd/flux-rest-server@.socket
/systemd/flux-rest-server-ensure.service
/systemd/flux-rest-server-ensure.socket
/polkit/50-flux-rest-server.rules
.deps/
.dirstamp

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
venv/

# Build artifacts
debbuild/
*.tar.gz

# Tests
.pytest_cache/

# Editor files
*.swp
*~
